In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Alzheimer_s_Disease_and_Healthy_Aging_Data.csv", low_memory=False)

In [3]:
df.head()

,RowId,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Response,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,NaN,2020,2020,HI,Hawaii,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,15,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
1,NaN,2017,2017,ID,Idaho,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,...,Q27,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
2,NaN,2017,2017,ID,Idaho,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
3,NaN,2018,2018,ID,Idaho,BRFSS,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,NaN,...,Q08,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
4,NaN,2020,2020,IN,Indiana,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,...,Q27,NaN,18,AGE,AGE_OVERALL,GENDER,MALE,NaN,NaN,NaN

In [4]:
df.dtypes

RowId                         float64
YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Response                      float64
Data_Value_Unit                object
DataValueTypeID                object
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit           object
High_Confidence_Limit          object
Sample_Size                   float64
StratificationCategory1        object
Stratification1                object
StratificationCategory2        object
Stratification2                object
StratificationCategory3       float64
Stratification3               float64
Geolocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
ResponseID                    float64
LocationID                      int64
StratificationCategoryID1      object
StratificationID1              object
StratificationCategoryID2      object
StratificationID2              object
StratificationCategoryID3     float64
StratificationID3             float64
Report                        float64
dtype: object

In [5]:
df['RowId'] = df['RowId'].astype("string")

In [6]:
df['RowId'].value_counts()

Series([], Name: RowId, dtype: Int64)

In [7]:
df['Response'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Response, dtype: float64

In [8]:
df['StratificationCategoryID3'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: StratificationCategoryID3, dtype: float64

In [9]:
df['Report'].value_counts()

Series([], Name: Report, dtype: int64)

In [10]:
df = df.drop(columns=['RowId', 'StratificationCategoryID3', 'StratificationID3', 'Report'])

In [11]:
df['StratificationCategoryID1'].value_counts()

AGE    214462
Name: StratificationCategoryID1, dtype: int64

In [12]:
df['StratificationID1'].value_counts()

AGE_OVERALL    71919
5064           71528
65PLUS         71015
Name: StratificationID1, dtype: int64

In [13]:
df['StratificationID1'] = df['StratificationID1'].replace('AGE_OVERALL', 'under50')
df['StratificationID1'] = df['StratificationID1'].replace('5064', '50to64')
df['StratificationID1'] = df['StratificationID1'].replace('65PLUS', 'over65')
df['StratificationID1'].value_counts()

under50    71919
50to64     71528
over65     71015
Name: StratificationID1, dtype: int64

In [14]:
df['Datasource'].value_counts()

BRFSS    214462
Name: Datasource, dtype: int64

In [15]:
df['Class'].value_counts()

Overall Health                         71694
Screenings and Vaccines                46867
Nutrition/Physical Activity/Obesity    24851
Cognitive Decline                      19180
Caregiving                             18671
Mental Health                          16600
Smoking and Alcohol Use                16599
Name: Class, dtype: int64

In [16]:
df['Response'].value_counts()

Series([], Name: Response, dtype: int64)

In [17]:
df['ResponseID'].value_counts()

Series([], Name: ResponseID, dtype: int64)

In [18]:
df = df.drop(columns=['StratificationCategoryID1', 'Datasource', 'Response', 'ResponseID'])
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,Data_Value_Type,...,StratificationCategory3,Stratification3,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2
0,2020,2020,HI,Hawaii,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-157.8577494 21.30485044),C01,TOC11,Q43,15,50to64,OVERALL,OVERALL
1,2017,2017,ID,Idaho,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C05,TMC03,Q27,16,50to64,OVERALL,OVERALL
2,2017,2017,ID,Idaho,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC11,Q43,16,50to64,OVERALL,OVERALL
3,2018,2018,ID,Idaho,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,Number,MEAN,Mean,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC01,Q08,16,50to64,OVERALL,OVERALL
4,2020,2020,IN,Indiana,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-86.14996019 39.76691045),C05,TMC03,Q27,18,under50,GENDER,MALE

In [19]:
df['StratificationCategory3'].value_counts()

Series([], Name: StratificationCategory3, dtype: int64)

In [20]:
df['Stratification3'].value_counts()

Series([], Name: Stratification3, dtype: int64)

In [21]:
df = df.drop(columns=['Stratification3', 'StratificationCategory3'])
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,Data_Value_Type,...,StratificationCategory2,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2
0,2020,2020,HI,Hawaii,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-157.8577494 21.30485044),C01,TOC11,Q43,15,50to64,OVERALL,OVERALL
1,2017,2017,ID,Idaho,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C05,TMC03,Q27,16,50to64,OVERALL,OVERALL
2,2017,2017,ID,Idaho,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC11,Q43,16,50to64,OVERALL,OVERALL
3,2018,2018,ID,Idaho,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,Number,MEAN,Mean,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC01,Q08,16,50to64,OVERALL,OVERALL
4,2020,2020,IN,Indiana,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,Gender,Male,POINT (-86.14996019 39.76691045),C05,TMC03,Q27,18,under50,GENDER,MALE

In [22]:
# All useless columns are cleared but data needs to be cleaned more

In [23]:
df['Data_Value_Unit'].value_counts()

%         197929
Number     16533
Name: Data_Value_Unit, dtype: int64

In [24]:
df['Data_Value_Unit'] = df['Data_Value_Unit'].replace('Number', 'Number_mean')
df['Data_Value_Unit'].value_counts()

%              197929
Number_mean     16533
Name: Data_Value_Unit, dtype: int64

In [25]:
df['Data_Value_Type'].value_counts()

Percentage    197929
Mean           16533
Name: Data_Value_Type, dtype: int64

In [26]:
df = df.drop(columns=['Data_Value_Type', 'LocationAbbr'])
df.head()

,YearStart,YearEnd,LocationDesc,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,Data_Value,Data_Value_Alt,...,StratificationCategory2,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2
0,2020,2020,Hawaii,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,26.3,26.3,...,NaN,NaN,POINT (-157.8577494 21.30485044),C01,TOC11,Q43,15,50to64,OVERALL,OVERALL
1,2017,2017,Idaho,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,24.0,24.0,...,NaN,NaN,POINT (-114.36373 43.68263001),C05,TMC03,Q27,16,50to64,OVERALL,OVERALL
2,2017,2017,Idaho,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,35.7,35.7,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC11,Q43,16,50to64,OVERALL,OVERALL
3,2018,2018,Idaho,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,Number_mean,MEAN,4.8,4.8,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC01,Q08,16,50to64,OVERALL,OVERALL
4,2020,2020,Indiana,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,13.7,13.7,...,Gender,Male,POINT (-86.14996019 39.76691045),C05,TMC03,Q27,18,under50,GENDER,MALE

In [27]:
df.isna().sum()

YearStart                          0
YearEnd                            0
LocationDesc                       0
Class                              0
Topic                              0
Question                           0
Data_Value_Unit                    0
DataValueTypeID                    0
Data_Value                     69833
Data_Value_Alt                 69833
Data_Value_Footnote_Symbol    130219
Data_Value_Footnote           130219
Low_Confidence_Limit           69990
High_Confidence_Limit          69990
Sample_Size                   214462
StratificationCategory1            0
Stratification1                    0
StratificationCategory2        27669
Stratification2                27669
Geolocation                    23049
ClassID                            0
TopicID                            0
QuestionID                         0
LocationID                         0
StratificationID1                  0
StratificationCategoryID2          0
StratificationID2                  0
dtype: int64

In [28]:
df.shape

(214462, 27)

In [29]:
df = df.drop(columns='Sample_Size')

In [30]:
df['Question'].value_counts()

Percentage of older adults who are currently obese, with a body mass index (BMI) of 30 or more                                                                               8300
Percentage of older adults who reported influenza vaccine within the past year                                                                                               8300
Physically unhealthy days (mean number of days in past month)                                                                                                                8300
Percentage of older adults who are experiencing frequent mental distress                                                                                                     8300
Percentage of older adults who have smoked at least 100 cigarettes in their entire life and still smoke every day or some days                                               8300
Percentage of older adults with a lifetime diagnosis of depression                                                                                                           8300
Percentage of older adults who have not had any leisure time physical activity in the past month                                                                             8300
Percentage of older adults who self-reported that their health is "fair" or "poor"                                                                                           8299
Percentage of older adults who self-reported that their health is "good", "very good", or "excellent"                                                                        8299
Percentage of older adults who reported binge drinking within the past 30 days                                                                                               8299
Percentage of at risk adults (have diabetes, asthma, cardiovascular disease or currently smoke) who ever had a pneumococcal vaccine                                          8268
Mean number of days with activity limitations in the past month                                                                                                              8233
Percentage of older adults who report having a disability (includes limitations related to sensory or mobility impairments or a physical, mental, or emotional condition)    6917
Percentage of older adults ever told they have arthritis                                                                                                                     5511
Fair or poor health among older adults with doctor-diagnosed arthritis                                                                                                       5447
Percentage of older adults who reported subjective cognitive decline or memory loss that is happening more often or is getting worse in the preceding 12 months              5088
Percentage of older adults without diabetes who reported a blood sugar or diabetes test within 3 years                                                                       4808
Percentage of older adults with subjective cognitive decline or memory loss who reported talking with a health care professional about it                                    4700
Percentage of older adults who reported that as a result of subjective cognitive decline or memory loss that they need assistance with day-to-day activities                 4696
Percentage of older adults who reported subjective cognitive decline or memory loss that interferes with their ability to engage in social activities or household chores    4696
Percentage of older adults who have fallen and sustained an injury within last year                                                                                          4173
Percentage of older adults who had either a home blood stool test within the past year or a sigmoidoscopy or colonoscopy within the past 10 years                            4173
Percentage of older adults who report having lost 5 or fewer teeth due to decay or gum disease                                                                               4172
Percentage of older adults getting sufficient sleep (>6 hours)                                                                                                               4171
Percentage of older adults who are eating 3 or more vegetables daily                                                                                                         4127
Percentage of older adults who have ever been told by a health professional that they have high blood pressure                                                               4127
Percentage of older adults who had a cholesterol screening within the past 5 years                                                                                           4127
Percentage of older adults who are eating 2 or more fruits daily                                                                                                             4124
Percentage of older adults who have been told they have high blood pressure who report currently taking medication for their high blood pressure                             4108
Severe joint pain due to arthritis among older adults with doctor-diagnosed arthritis                                                                                        4064
Percentage of older adults who provided care for a friend or family member within the past month                                                                             3848
Percentage of older adults currently not providing care who expect to provide care for someone with health problems in the next two years                                    3797
Percentage of older adults who provided care for someone with dementia or other cognitive impairment within the past month                                                   3682
Percentage of older adults who provided care to a friend or family member for six months or more                                                                             3681
Average of 20 or more hours of care per week provided to a friend or family member                                                                                           3663
Percentage of older adult women who are up to date with select clinical preventive services                                                                                  3280
Percentage of older adult men who are up to date with select clinical preventive services                                                                                    3271
Percentage of older adult women who have received a mammogram within the past 2 years                                                                                        3271
Percentage of older adult women with an intact cervix who had a Pap test within the past 3 years                                                                             3242
Name: Question, dtype: int64

## Isolating the question of obesity to one table to start, will compare which question is most effective

In [31]:
ob = df.loc[df['Question']== "Percentage of older adults who are currently obese, with a body mass index (BMI) of 30 or more"]
ob.head()

,YearStart,YearEnd,LocationDesc,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,Data_Value,Data_Value_Alt,...,StratificationCategory2,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2
49,2017,2017,Alaska,Nutrition/Physical Activity/Obesity,Obesity,Percentage of older adults who are currently o...,%,PRCTG,NaN,NaN,...,Race/Ethnicity,Hispanic,POINT (-147.722059 64.84507996),C02,TNC04,Q13,2,over65,RACE,HIS
56,2017,2017,Arizona,Nutrition/Physical Activity/Obesity,Obesity,Percentage of older adults who are currently o...,%,PRCTG,54.6,54.6,...,Race/Ethnicity,Native Am/Alaskan Native,POINT (-111.7638113 34.86597028),C02,TNC04,Q13,4,50to64,RACE,NAA
59,2020,2020,Alaska,Nutrition/Physical Activity/Obesity,Obesity,Percentage of older adults who are currently o...,%,PRCTG,33.0,33.0,...,Gender,Male,POINT (-147.722059 64.84507996),C02,TNC04,Q13,2,over65,GENDER,MALE
93,2020,2020,Alaska,Nutrition/Physical Activity/Obesity,Obesity,Percentage of older adults who are currently o...,%,PRCTG,42.1,42.1,...,Race/Ethnicity,Native Am/Alaskan Native,POINT (-147.722059 64.84507996),C02,TNC04,Q13,2,under50,RACE,NAA
99,2018,2018,Alaska,Nutrition/Physical Activity/Obesity,Obesity,Percentage of older adults who are currently o...,%,PRCTG,32.4,32.4,...,Race/Ethnicity,"White, non-Hispanic",POINT (-147.722059 64.84507996),C02,TNC04,Q13,2,under50,RACE,WHT

In [32]:
ob['Data_Value_Unit'].value_counts()

%    8300
Name: Data_Value_Unit, dtype: int64

In [33]:
ob['DataValueTypeID'].value_counts()

PRCTG    8300
Name: DataValueTypeID, dtype: int64

In [34]:
ob['Topic'].value_counts()

Obesity    8300
Name: Topic, dtype: int64

In [35]:
ob['QuestionID'].value_counts()

Q13    8300
Name: QuestionID, dtype: int64

In [36]:
ob['ClassID'].value_counts()

C02    8300
Name: ClassID, dtype: int64

In [37]:
ob['TopicID'].value_counts()

TNC04    8300
Name: TopicID, dtype: int64

In [38]:
ob['Data_Value_Footnote_Symbol'].value_counts()

****    2206
&        295
~        205
#         30
Name: Data_Value_Footnote_Symbol, dtype: int64

In [39]:
ob = ob.drop(columns=['Data_Value_Unit', 'DataValueTypeID', 'Topic', 'QuestionID', 'ClassID', 'TopicID',
                      'Data_Value_Footnote_Symbol', 'StratificationID1', 'StratificationCategory1'])
ob.head()

,YearStart,YearEnd,LocationDesc,Class,Question,Data_Value,Data_Value_Alt,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Stratification1,StratificationCategory2,Stratification2,Geolocation,LocationID,StratificationCategoryID2,StratificationID2
49,2017,2017,Alaska,Nutrition/Physical Activity/Obesity,Percentage of older adults who are currently o...,NaN,NaN,Sample size of denominator and/or age group fo...,NaN,NaN,65 years or older,Race/Ethnicity,Hispanic,POINT (-147.722059 64.84507996),2,RACE,HIS
56,2017,2017,Arizona,Nutrition/Physical Activity/Obesity,Percentage of older adults who are currently o...,54.6,54.6,NaN,44.7,64.2,50-64 years,Race/Ethnicity,Native Am/Alaskan Native,POINT (-111.7638113 34.86597028),4,RACE,NAA
59,2020,2020,Alaska,Nutrition/Physical Activity/Obesity,Percentage of older adults who are currently o...,33.0,33.0,NaN,26.8,39.8,65 years or older,Gender,Male,POINT (-147.722059 64.84507996),2,GENDER,MALE
93,2020,2020,Alaska,Nutrition/Physical Activity/Obesity,Percentage of older adults who are currently o...,42.1,42.1,NaN,33.5,51.3,Overall,Race/Ethnicity,Native Am/Alaskan Native,POINT (-147.722059 64.84507996),2,RACE,NAA
99,2018,2018,Alaska,Nutrition/Physical Activity/Obesity,Percentage of older adults who are currently o...,32.4,32.4,NaN,28.9,36.2,Overall,Race/Ethnicity,"White, non-Hispanic",POINT (-147.722059 64.84507996),2,RACE,WHT

In [43]:
ob['Data_Value_Footnote'].value_counts()

Sample size of denominator and/or age group for age-standardization is less than 50 or relative standard error is more than 30%    2206
Regional estimates may not represent all states in the region                                                                       295
No Data Available                                                                                                                   205
Fewer than 50 States reporting                                                                                                       30
Name: Data_Value_Footnote, dtype: int64

### Next step is addressing the disparate stratification groups, which will have to be either race/ethnicity or gender for cat 2

In [40]:
ob['StratificationCategory2'].value_counts()

Race/Ethnicity    5168
Gender            2088
Name: StratificationCategory2, dtype: int64