In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Alzheimer_s_Disease_and_Healthy_Aging_Data.csv", low_memory=False)

In [3]:
df.head()

,RowId,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Response,...,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Report
0,NaN,2020,2020,HI,Hawaii,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,15,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
1,NaN,2017,2017,ID,Idaho,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,...,Q27,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
2,NaN,2017,2017,ID,Idaho,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,NaN,...,Q43,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
3,NaN,2018,2018,ID,Idaho,BRFSS,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,NaN,...,Q08,NaN,16,AGE,5064,OVERALL,OVERALL,NaN,NaN,NaN
4,NaN,2020,2020,IN,Indiana,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,NaN,...,Q27,NaN,18,AGE,AGE_OVERALL,GENDER,MALE,NaN,NaN,NaN

In [4]:
df.dtypes

RowId                         float64
YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Response                      float64
Data_Value_Unit                object
DataValueTypeID                object
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit           object
High_Confidence_Limit          object
Sample_Size                   float64
StratificationCategory1        object
Stratification1                object
StratificationCategory2        object
Stratification2                object
StratificationCategory3       float64
Stratification3               float64
Geolocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
ResponseID                    float64
LocationID                      int64
StratificationCategoryID1      object
StratificationID1              object
StratificationCategoryID2      object
StratificationID2              object
StratificationCategoryID3     float64
StratificationID3             float64
Report                        float64
dtype: object

In [5]:
df['RowId'] = df['RowId'].astype("string")

In [6]:
df['RowId'].value_counts()

Series([], Name: RowId, dtype: Int64)

In [7]:
df['Response'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Response, dtype: float64

In [8]:
df['StratificationCategoryID3'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: StratificationCategoryID3, dtype: float64

In [9]:
df['Report'].value_counts()

Series([], Name: Report, dtype: int64)

In [10]:
df = df.drop(columns=['RowId', 'StratificationCategoryID3', 'StratificationID3', 'Report'])

In [11]:
df['StratificationCategoryID1'].value_counts()

AGE    214462
Name: StratificationCategoryID1, dtype: int64

In [12]:
df['StratificationID1'].value_counts()

AGE_OVERALL    71919
5064           71528
65PLUS         71015
Name: StratificationID1, dtype: int64

In [13]:
df['StratificationID1'] = df['StratificationID1'].replace('AGE_OVERALL', 'under50')
df['StratificationID1'] = df['StratificationID1'].replace('5064', '50to64')
df['StratificationID1'] = df['StratificationID1'].replace('65PLUS', 'over65')
df['StratificationID1'].value_counts()

under50    71919
50to64     71528
over65     71015
Name: StratificationID1, dtype: int64

In [14]:
df['Datasource'].value_counts()

BRFSS    214462
Name: Datasource, dtype: int64

In [15]:
df['Class'].value_counts()

Overall Health                         71694
Screenings and Vaccines                46867
Nutrition/Physical Activity/Obesity    24851
Cognitive Decline                      19180
Caregiving                             18671
Mental Health                          16600
Smoking and Alcohol Use                16599
Name: Class, dtype: int64

In [16]:
df['Response'].value_counts()

Series([], Name: Response, dtype: int64)

In [17]:
df['ResponseID'].value_counts()

Series([], Name: ResponseID, dtype: int64)

In [18]:
df = df.drop(columns=['StratificationCategoryID1', 'Datasource', 'Response', 'ResponseID'])
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,Data_Value_Type,...,StratificationCategory3,Stratification3,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2
0,2020,2020,HI,Hawaii,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-157.8577494 21.30485044),C01,TOC11,Q43,15,50to64,OVERALL,OVERALL
1,2017,2017,ID,Idaho,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C05,TMC03,Q27,16,50to64,OVERALL,OVERALL
2,2017,2017,ID,Idaho,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC11,Q43,16,50to64,OVERALL,OVERALL
3,2018,2018,ID,Idaho,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,Number,MEAN,Mean,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC01,Q08,16,50to64,OVERALL,OVERALL
4,2020,2020,IN,Indiana,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-86.14996019 39.76691045),C05,TMC03,Q27,18,under50,GENDER,MALE

In [19]:
df['StratificationCategory3'].value_counts()

Series([], Name: StratificationCategory3, dtype: int64)

In [20]:
df['Stratification3'].value_counts()

Series([], Name: Stratification3, dtype: int64)

In [21]:
df = df.drop(columns=['Stratification3', 'StratificationCategory3'])
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,Data_Value_Type,...,StratificationCategory2,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2
0,2020,2020,HI,Hawaii,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-157.8577494 21.30485044),C01,TOC11,Q43,15,50to64,OVERALL,OVERALL
1,2017,2017,ID,Idaho,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C05,TMC03,Q27,16,50to64,OVERALL,OVERALL
2,2017,2017,ID,Idaho,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,Percentage,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC11,Q43,16,50to64,OVERALL,OVERALL
3,2018,2018,ID,Idaho,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,Number,MEAN,Mean,...,NaN,NaN,POINT (-114.36373 43.68263001),C01,TOC01,Q08,16,50to64,OVERALL,OVERALL
4,2020,2020,IN,Indiana,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,Percentage,...,Gender,Male,POINT (-86.14996019 39.76691045),C05,TMC03,Q27,18,under50,GENDER,MALE

In [ ]:
# All useless columns are cleared but data needs to be cleaned more